.swipe{
    position: fixed;
    bottom: 0vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipe .MuiIconButton-root{
 background-color: white;
 box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.replay{
    padding:3vw !important;
    color: #f5b748 !important;
}
.close{
    padding:3vw !important;
    color: #ec5e6f !important;
}
.star{
    padding:3vw !important;
    color: #62b4f9 !important;
}
.favorite{
    padding:3vw !important;
    color: lightgreen !important;
}
.flash{
    padding:3vw !important;
    color: purple !important;
}