body, html {
    height: 100%;
    margin: 0;
}

/* .App {display: flex; width: 100%; align-items:center; justify-content: center; height: 100vh; background: url('https://picsum.photos/seed/picsum/200/300') no-repeat fixed; background-size:cover; } */
/* form {background: #fff; border-radius: 10px; max-width:50%; padding: 30px;}
form div {display: block;} */